# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea/
.kotlin/

database.mv.db
database.trace.db
db/
.DS_Store

node_modules

docker-compose.yml
/.env
